.case-study {
  font-family: 'Outfit';
  font-weight: 100;
  text-align: left;
}

.case-study p {
  font-size: 17px;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  color: white;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1; /* Ensure the shadow is above the image but below the content */
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-content {
  text-align: center;
  z-index: 2; /* Ensure the content is above the shadow */
}

.banner-content h1 {
  margin-top: 100px;
  color: #f4f4f4;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.banner-content p {
  font-size: 1.25rem;
}

.information {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: #f4f4f4;
  color: #333;
  justify-content: space-around;
}

.info-section {
  margin-bottom: 0;
  flex: 1;
  text-align: center;
}

.info-section p {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info-section h5 {
  font-size: 1rem;
  margin: 0;
}

.overview {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 6rem; /* Added margin-bottom */
}

.final-product-teaser {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 6rem; /* Added margin-bottom */
}

.demo-videos-list {
  align-items: center;
  width: 80%;
}

.demo-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.video-container {
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
}

.case-study-video {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 25px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.91); /* adjust to scale vid size */
}

.case-study-video-frame {
  position: relative;
  width: 100%;
  height: auto;
}

.video-description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.partner-requests {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 6rem; /* Added margin-bottom */
}

.problem-statement {
  background-color: #d0eae5;
  border-radius: 15px;
  padding: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 6rem; /* Added margin-bottom */
}

.user-research {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 6rem; /* Added margin-bottom */
}

.data-analysis {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 6rem; /* Added margin-bottom */
}

.empathy-maps {
  max-height: 600px;
}

.ideation {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 6rem; /* Added margin-bottom */
}

.ideation img {
  max-width: 80%;
}

.design-process {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 6rem; /* Added margin-bottom */
}

.design-process img {
  max-width: 80%;
}
